body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b77572;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #640a0a;
  border-radius: 0 0 20px 20px;
}

.user-top-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.back-button {
  background-color: #e37979;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.back-button:hover{
  background-color: #ff9999;
  transform: scale(1.05); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.container {
  padding: 20px;
  color: black;
}

.reminder-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reminder-table {
  background-color: #dcaeb1;
  border-radius: 15px;
  padding: 15px;
  width: 65%;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
  background-color: #494949;
  color: white;
  border: 1px solid #dcaeb1;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 15px;
}

.calendar-btn {
  background-color: #dcaeb1;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  width: 100%; /* Adjusted button width */
}

.Posterstudent img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

footer {
  background-color: #a55252;
  color: black;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px 20px 0 0 ;
  margin-top: 30px;
  width: 100vw;            
  position: fixed;         
  bottom: 0;
}
