body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #b77572;
  color: white;
}

.container {
  padding: 20px;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: rgb(229, 152, 152);
  border: 2px solid #ccc;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.modal-content {
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #640a0a;
}

.user-top-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.back-button {
  background-color: #e37979;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.back-button:hover{
  background-color: #ff9999;
  transform: scale(1.05); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.welcome-section {
  background-color: #640a0a; /* Matching top bar */
  color: white;
  padding: 30px 20px;
  text-align: center;
  border-radius: 0 0 20px 20px; /* Creates full-width effect */
  margin-bottom: 20px;
}

.welcome-title {
  text-align: center;
margin: 0;
}

.description {
  max-width: 800px;
  margin: 10px auto;
  font-size: 1rem;
  line-height: 1.6;
}

.button-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.main-buttons {
  display: flex;
  justify-content:center;
  gap:60px;
  margin: 20px auto;
  max-width: 90%;
}

.main-buttons button:hover {
  background-color: #ff9999;
  transform: scale(1.05); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn {
  background-color: #fff8f8;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.active {
  background-color: #f5f4f4;
  color: rgb(5, 5, 5);
  border: 4px solid #861d1d;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 12px;
  width: 60%;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
}

.subject-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.subject-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  max-width: 1000px;
}

.subject-btn {
  background-color: #ececec;
  color: black;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
}

.right-buttons {
  position: fixed;
  bottom: 60px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-btn {
  background-color: #ff8080;
  color: black;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 160px;
  border: 2px solid #000;
  display: flex;
  align-items: center;

}

.right-btn img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.right-btn:hover {
  background-color: #ff5050;
  transform: scale(1.05); /* Slight pop effect */
}

footer {
  background-color: #a55252;
  color: black;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px 20px 0 0 ;
  margin-top: 30px;
  width: 100vw;            
  position: fixed;         
  bottom: 0;
}