body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7f5d5d;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ac5656;
  padding: 10px 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: solid 3px;
  border-top: none;
  border-color: #621818;
}

.brand {
  background: #d8b4b4;
  color: black;
  padding: 7px 20px;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.welcome {
  font-size: 27px;
  font-weight: bolder;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('image/PpLogo.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  margin: 20px;
}

.sidebar {
  background-color: #8b4444;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.menu-title {
  background-color: #621818;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 3px solid #e68e8e;
}

.menu-item {
  background-color: #da6666;
  padding: 25px ;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #f19595;
}

.menu-icon {
  margin-left: auto;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.main-content {
  flex: 1;
  padding: 0 20px;
}

.top-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.top-btn {
  flex: 1;
  background-color: #d3c9c9;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

.content-section {
  display: flex;
  gap: 25px;
}

.top-tutors {
  flex: 1;
  background-color: #8b4444;
  padding: 20px;
  border-radius: 10px;
  width: 300px;

}

.top-tutors h3 {
  margin-top: 0;
}

.top-tutors ul {
  list-style: none;
  padding: 0;
}

.top-tutors li {
  background-color: #ac5656;
  padding: 11px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url('image/PpLogo.jpg');
  background-size: cover;
  cursor: pointer;
}

.qualities img {
  width: 330px;
  height: 460px;
  border-radius: 10px;
}
